<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="https://dev.azure.com/erikkashihara/" />
    <add key="personalAccessToken" value="4eb4v5l7kw66m2m6bmk7wdy7vi7bom4owqult2i4wwy56z5iuekq" />
    <add key="project" value="ProjetoEngenhos" />
  </appSettings>
</configuration>